body{
	background-color: #171717;
}
#iiit{
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}
#heading{
	text-align: center;
	padding-top: 10px;
	color: #C2C2C2;
	font-size: 1em;
    
}
#topbar{
    background-color: #3a3a3a;
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}