body{
	background-color: #171717;
    margin: auto;
   
}
body {
    font-family: Titillium Web;
}

.item {
    width: 100px;
    float: left;
    height: 100px;
    
    
}
.item img {
   
}
button {
    font-size: 18px;
}
.img_grid{
   
    margin-left: -5px;
    width:300px;
    height: 300px;
}
#iiit{
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
}
#heading{
	text-align: center;
	padding-top: 10px;
	color: #C2C2C2;
    font-family: Titillium Web;
	font-size: .8em;
    margin-top: 5px;
    padding-top: 1px;
    padding-left: 50px;    
}
#sub_heading{
    margin-top: -15px;
}
#topbar{
    position: relative;
    background-color: #3a3a3a;
    height: 110px;
    width: 800px;
    margin-left:150px ;
    color: #C2C2C2;
    
}
#sel{
    color: #c2c2c2;
    font-family: Titillium Web ; 
    text-align: center;
    margin: 0px 7px;
    padding:5px;
    font-weight: bold;
    font-size: 17px;
    width: 250px;
}
#Select{
    position: relative;;
    padding: 5px;
    padding-left: 25px;
    width: 310px;
    border: 1px solid #c2c2c2;
    border-radius: 20px;
    margin: 10px;
    margin-top: 20px;
    
    
}
#images{
   margin: auto; 
}
#Run{
    margin: 5px 75px 5px 0px;
    padding: 5px 30px;
    font-family: Titillium Web ; 
    border-radius: 10px
    
}
#reset{
    padding: 5px 25px;
    font-family: Titillium Web ; 
    border-radius: 10px;
}
.item:hover{
    
    opacity: 0.6;
}
    

#Preview{
    color: #c2c2c2;
    
    position: relative;
    margin-left: 400px;
    margin-top: -390px;
    height: 304px;
    width: 304px;
}
#table{
    margin: auto
}
#SecForm{
    padding-left: 55px;
    
}
#input_image{
    border: 4px solid yellow;
    height: 300px;
    width: 300px;
}
.Parameters{

    color: #c2c2c2;
    margin-top: 90px;
    margin-left: 20px;
    
    width: 320px;
    height: 260px;
    border: 1px solid;
    border-radius: 20px;
    font-family: Titillium Web ;    
}
h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
#Output{
    position: relative;
    margin-top:-304px ;
    margin-left: 750px;;
    height: 304px;
    width: 304px;
    color: #c2c2c2;
}
#output_image{
    border: 4px solid blue;
    height: 300px;
    width: 300px;
}
#Run{
    margin-top: 5px;
}
#placeholder{
    margin: -280px 0px 10px 400px;
    width:300px;height: 300px;
    border: solid grey 1px;
    padding: 5px;
}
.label{
    text-align: right;
    margin-top: 2px
    
}
#Experiment{
    width: 80%;
    margin: auto;
    
    padding: auto;
    
}

